[Desktop Entry]
Name=Holy Quran
Name[tr]=Kuran-ı Kerim
GenericName=Holy Quran
GenericName[tr]=Kuran-ı Kerim
Comment=It is Holy Quran app.
Comment[tr]=Kuran-ı Kerim Uygulaması.
Exec=holy-quran
Icon=holy-quran
Terminal=false
Type=Application
Categories=Qt;Religion;Education;
StartupNotify=true
Keywords=holy-quran;Quran;Holy;Kuran;